.navbar {
    background-color: red!important;
}
 
.navbar-brand {
    font-size: 65px!important;
    margin-right:0!important;
    font-family: 'EB Garamond', serif;
}

@media only screen and (min-width: 576px) {
    .navbar {
      flex-direction: column;
    }
}

